/* FONTS */

@font-face {
    font-family: 'Mojangles';
    src: url('fonts/mojangles/mojangles.otf') format('truetype');
}


/* BODY */

body{
    background-image: url("images/Minecraft_screenshot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mojangles', sans-serif;
    text-shadow: 2px 2px 0 #00000040;
    margin:0;
    animation: bgSlide 30s ease infinite alternate;
}

@keyframes bgSlide {
    0% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
}


/* HEADER */

.title{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.title h1{
    display: flex;
    flex-direction: column;
    margin:0;
}

.title h1 span{
    display: flex;
    flex-direction: row;
}

.title h2{
    margin-top: -24px;
    z-index: 3;
}

#splash{
    position: absolute;
    bottom: 24px;
    right: 24px;
    margin: 0;
    color: #FFFF00;
    transform: rotate(-10deg);
    font-size: 24px;
    animation: splashAnimation 2s ease-in-out infinite forwards;
}


.pop {
    display: block;
    transition: transform 0.15s ease;
    line-height: 0px;
}

.pop:hover {
    animation: bounce 0.8s ease forwards;
    cursor:pointer
}

@keyframes bounce {
    0%   { transform: translateY(0) scale(1); }
    30%  { transform: translateY(-20px) scale(1.2); }
    50%  { transform: translateY(-10px) scale(1.15); }
    70%  { transform: translateY(-18px) scale(1.18); }
    100% { transform: translateY(0) scale(1); }
}

@keyframes splashAnimation{
    0%{transform: rotate(-10deg) scale(1); 
    }
    50%{transform: rotate(-10deg) scale(1.15); 
    }
    100%{transform: rotate(-10deg) scale(1); 
    }
}

header h1 img, header h2 img{
    display: block;
    margin: 0;
    padding: 0;
}


#yokota{
    margin-top: -20px;
}

header .title h2 img{
    transform: scale(0.5);
    margin-bottom: 20px;
}

/* MAIN SECTION */

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 24px;
    margin: 40px;
    
}

main section{
    width: 60%;
    height: fit-content;
    margin:auto;
}

main section h2, main section ul{
    display: block;
    background-color: #6F6F6F;
    padding: 24px;
    box-shadow: inset 5px 5px 0 0 rgba(255, 255, 255, 0.27), inset -5px -5px 0 0 rgba(0, 0, 0, 0.303), 0 0 0 5px black;
}

main section h2{
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 2px 2px 0 #00000040;
}

main section ul{
    height: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 24px;
}

main section ul li a{
    display: flex;
    color: #DEDEDE;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

main section ul li a:hover{
    color: #FFFF00;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    padding: 48px;   
    box-sizing: border-box;
}

footer p, footer a {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
}



/* TABLET */

@media (min-width: 769px) and (max-width: 1024px) {

    .title h1{
        display: flex;
        flex-direction: column;
    }

    #yokota{
        margin-top: -20px;
    }

    header .title h2 img{
        transform: scale(0.6);
        margin-bottom: 100px;
    }

    #splash{
        font-size: 28px;
        right: 100px;
        bottom: 100px;
    }

    main{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin: auto;
        width: 80%;
    }

    main section{
        width: 40%;
        margin: 0;
    }
}


/* DEKTOP */

@media (min-width: 1025px) {

    body{
        max-width:1200px;
        max-height: 750px;
        background-size: 150%;
        margin: auto;
    }

    .title h1{
        display: flex;
        flex-direction: row;
        transform: scale(1.2);
        margin:0;
    }

    .title h1 span{
        display: flex;
        flex-direction: row;
        margin:0;
    }

    .title h2{
        transform: scale(1.6);
        margin-top:-20px;
    }

    #yokota{
        margin-top: 0;
        margin-left: 30px;
    }

    #splash{
        font-size: 36px;
        right:100px;
        bottom:20px;
    }

    main{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top:0px;
        margin-bottom:0;
    }

    main section {
        width: 230px;
    }

}