body {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 24px;
    background-color: rgb(201, 207, 221);
}

p, a, time{
    font-family: "Lato", sans-serif;
    line-height: 1.8em;
    color: rgb(83, 40, 40);
}

article, header{
    background-color: beige;
    flex: 1;
    line-height: 1.6;
    padding: 24px;
    background-image: linear-gradient(
    to bottom, transparent, 99%,
    rgba(0, 0, 0, 0.15)
    );

    background-size: 100% 2em;  
    background-repeat: repeat;
}

article, header, article div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article{
    border-right: solid 20px rgb(128, 24, 24);
}

header{
    border-right: solid 2px rgba(0, 0, 0, 0.15);
    border-left: solid 20px rgb(128, 24, 24);
}

h1, h2{
    font-family: "Libre Baskerville", serif;
    color: black;
}
