h1, h2{
    font-family: "Libre Baskerville", serif;
    color: black;
}

p, a, time{
    font-family: "Lato", sans-serif;
    line-height: 1.8em;
    color: rgb(83, 40, 40);
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(201, 207, 221);
    gap: 100px;
}

header {
    display: block;
    position: relative;
    padding: 20px;
    background-color: rgb(237, 241, 255);
    border-radius: 16px;
}

article {
    display: flex;
    flex-direction: row;
    background-color: beige;
    border-left: solid 20px rgb(128, 24, 24);
    border-right: solid 20px rgb(128, 24, 24);
    background-image: linear-gradient(
    to bottom, transparent, 99%,
    rgba(0, 0, 0, 0.15)
    );
    background-size: 100% 2em;  
    background-repeat: repeat;

}

.left {
    border-right: solid 2px rgba(0, 0, 0, 0.15);
    
}

article div {
    flex: 1;
    padding: 20px;
}

#circle {
    width: 30px;
    height: 30px;
    background-color: rgb(201, 207, 221);
    z-index: 9;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 999px;
}

#line {
    width: 80px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    z-index: 9;
    position: absolute;
    right: -40px;;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
}